.container {
    display : grid;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: black;
    box-sizing: border-box;
}

.gameSquare {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    position: relative;
}

.squareText {
    text-align: center;
    display:inline;
    position: relative;
    bottom: 10%;
}